.login-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 1201px;
    height: 1018px;
    flex-shrink: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.logoroots {
    display: flex;
    height: 61px;
    flex-direction: column;
    flex-shrink: 0;
    color: #560505;
    align-items: center;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.Adminpage {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.Acces {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
button {
    background-color: #560505;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
